*.pyc
*.swp
.vscode/*
*.lock
*.log
.idea/
.DS_Store
backend/archery/settings.py.github
backend/archery/settings.py.dev
backend/archery/settings_dev.py
venv
env
.venv
.venv*/
conda311
sonar-project.properties
.scannerwork
.env
backend/src/docker-compose/.env
backend/src/docker-compose/.env.local-dev
backend/src/docker-compose/.env.local-dev.example
local_settings.py
/sql/
/src/
src/docker-compose-dev
.coverage
archery_custom
backend/src/docker-compose/mysql/datadir/
backend/src/docker-compose/datamingle/downloads/DataExportFile/
backend/src/docker-compose/datamingle/downloads/dictionary/
backend/docs/
frontend/playwright-report/
frontend/e2e-playwright-report/
frontend/test-results/
frontend/e2e-screenshots/
/static/
backend/static/
/supervisord.pid
agent/.tools/
agent/dist/
agent/coverage.out
