{% extends "base.html" %}

{% block content %}
    <!-- Custom action buttons -->
    <div id="process-toolbar" class="btn-group right" style="display:none;">
        <button id="kill_process" class="btn btn-default" type="button">Terminate Session</button>
    </div>
    <!-- Nav tabs -->
    <ul id="nav-tabs" class="nav nav-tabs" role="tablist">
        <li id="process_tab" class="active">
            <a href="#process" role="tab" data-toggle="tab">Process Status</a>
        </li>
        <li id="space_tab">
            <a href="#space" role="tab" data-toggle="tab">Top Tablespace</a>
        </li>
        <li id="trx_tab">
            <a href="#trx" role="tab" data-toggle="tab">Transaction Info</a>
        </li>
        <li id="trxandlocks_tab">
            <a href="#trxandlocks" role="tab" data-toggle="tab">Lock Info</a>
        </li>
        <div class="form-inline pull-right">
            <div class="form-group ">
                <select id="instance_name" class="form-control selectpicker" name="instance_name_list"
                        title="Please select instance:"
                        data-live-search="true">
                        <optgroup id="optgroup-mysql" label="MySQL"></optgroup>
                        <optgroup id="optgroup-mongo" label="MongoDB"></optgroup>
                        <optgroup id="optgroup-oracle" label="Oracle"></optgroup>
                        <optgroup id="optgroup-redis" label="Redis"></optgroup>
                        <optgroup id="optgroup-pgsql" label="PgSQL"></optgroup>
                        <optgroup id="optgroup-doris" label="Doris"></optgroup>
                </select>
            </div>
            <div id="command-div" class="form-group">
                <select id="command" class="form-control selectpicker" name="command_type" title="Command Type">
                    <!--option value="All">All</option>
                    <option value="Query" selected="selected">Query</option>
                    <option value="Not Sleep">Not Sleep</option-->
                </select>
            </div>
        </div>
    </ul>
    <!-- Tab panes -->
    <div id="tab-content" class="tab-content">
        <!-- Process status table -->
        <div id="process" role="tabpanel" class="tab-pane fade in active table-responsive">
            <table id="process-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            </table>
        </div>
        <!-- Top tablespace table -->
        <div id="space" role="tabpanel" class="tab-pane fade table-responsive">
            <table id="tablespace-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            </table>
        </div>
        <!-- Transaction info table -->
        <div id="trx" role="tabpanel" class="tab-pane fade table-responsive">
            <table id="trx-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            </table>
        </div>
        <!-- Lock info table -->
        <div id="trxandlocks" role="tabpanel" class="tab-pane fade table-responsive">
            <table id="trxandlocks-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            </table>
        </div>
    </div>
    <!-- Confirmation dialog -->
    <div class="modal fade" id="killComfirm">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title text-danger">Are you sure you want to terminate the selected session(s)?</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="request_params" hidden>
                    <b id="kill_sql"></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="kill_session()" class="btn btn-danger" data-dismiss="modal">Confirm Termination
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <script src="{% static 'dbdiagnostic/js/db_info.js' %}"></script>
    <script>

        var processListColumns  = [];
        var tablespaceListColumns = [];
        var lockListColumns = [];
        var processListDetailFormatCallback = NaN;
        var lockListDetailFormatCallback = NaN;

        // Formatting metadata used by get_process_list table.
        // 0. Database type; 1. Type filter; 2. Field mapping; 3. Detail formatter callback.
        var processListTableInfos = []

        if (typeof pgsqlDiagnosticInfo !== "undefined" && Array.isArray(pgsqlDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(pgsqlDiagnosticInfo?.fieldsProcesslist);
        }
        if (typeof mysqlDiagnosticInfo !== "undefined" && Array.isArray(mysqlDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(mysqlDiagnosticInfo?.fieldsProcesslist);
        }
        if (typeof mongoDiagnosticInfo !== "undefined" && Array.isArray(mongoDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(mongoDiagnosticInfo?.fieldsProcesslist);
        }
        if (typeof redisDiagnosticInfo !== "undefined" && Array.isArray(redisDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(redisDiagnosticInfo?.fieldsProcesslist);
        }
        if (typeof oracleDiagnosticInfo !== "undefined" && Array.isArray(oracleDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(oracleDiagnosticInfo?.fieldsProcesslist);
        }
        if (typeof dorisDiagnosticInfo !== "undefined" && Array.isArray(dorisDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(dorisDiagnosticInfo?.fieldsProcesslist);
        }
         

        // DB diagnostics - process list.
        function get_process_list() {
            $("#command-div").show();
            $("#process-toolbar").show();
            if ($("#instance_name").val()) {
                // Initialize table.
                $('#process-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/db_diagnostic/process/",
                    striped: true,                      // Show row stripe.
                    cache: false,                       // Disable cache.
                    pagination: true,                   // Enable pagination.
                    sortable: true,                     // Enable sorting.
                    sortOrder: "desc",                  // Sort order.
                    sortName: 'time',                   // Sort field.
                    sidePagination: "client",           // Client-side pagination.
                    pageNumber: 1,                      // Initial page number.
                    pageSize: 100,                      // Rows per page.
                    pageList: [20, 30, 50, 100, 1000], // Page size options.
                    search: true,                       // Enable table search.
                    strictSearch: false,                // Use fuzzy search.
                    showColumns: true,                  // Show column selector.
                    showRefresh: true,                  // Show refresh button.
                    showExport: true,
                    exportDataType: "all",
                    minimumCountColumns: 2,             // Minimum visible columns.
                    clickToSelect: true,                // Enable row selection.
                    showToggle: true,                   // Show list/card toggle.
                    cardView: false,                    // Disable card view.
                    detailView: true,                   // Enable detail view.
                    // Detail formatter callback.
                    detailFormatter: processListDetailFormatCallback,
                    locale: 'en-US',                    // Localization.
                    toolbar: "#process-toolbar",        // Custom toolbar selector.
                    queryParamsType: 'limit',
                    // Request parameters sent to backend.
                    queryParams: function (params) {
                        return {
                            instance_name: $("#instance_name").val(),
                            command_type: $("#command").val()
                        }
                    },
                    columns: processListColumns,
                    onLoadSuccess: function (data) {
                        if (data.status !== 0) {
                            alert("Data loading failed! " + data.msg);
                        }
                    },
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        // Pass search parameters to backend.
                        queryParams(e)
                    },
                    responseHandler: function (res) {
                        // Transform data before rendering table.
                        return res;
                    }
                });
            }
        }

        // Formatting metadata used by get_space_list table.
        // 0. Database type; 1. Field mapping.
        let tablespaceListTableInfos = [
            [
                'mysql',
                [{
                     title: 'Database',
                     field: 'table_schema'
                 }, {
                     title: 'Table Name',
                     field: 'table_name'
                 }, {
                     title: 'Engine',
                     field: 'engine'
                 }, {
                     title: 'Total Space (MB)',
                     field: 'total_size'
                 }, {
                     title: 'Rows',
                     field: 'table_rows'
                 }, {
                     title: 'Data Space (MB)',
                     field: 'data_size'
                 }, {
                     title: 'Index Space (MB)',
                     field: 'index_size'
                 }, {
                     title: 'Fragment Space (MB)',
                     field: 'data_free'
                 }, {
                     title: 'Fragment Ratio (%)',
                     field: 'pct_free'
                 }]
            ],
            [
                'oracle',
                [{
                    title: 'Tablespace Name',
                    field: 'TABLESPACE_NAME'
                }, {
                    title: 'Tablespace Type',
                    field: 'TABLESPACE_TYPE'
                }, {
                    title: 'Status',
                    field: 'STATUS'
                }, {
                    title: 'Total Space (MB)',
                    field: 'TOTAL_SPACE'
                }, {
                    title: 'Used Space (MB)',
                    field: 'USED_SPACE'
                }, {
                    title: 'Usage (%)',
                    field: 'PCT_USED'
                }]
            ]
        ]
        let dorisTableInfo = ['doris',tablespaceListTableInfos[0][1]]
        tablespaceListTableInfos.push(dorisTableInfo)

        // DB diagnostics - tablespace list.
        function get_space_list() {
            $("#command-div").hide();
            $("#process-toolbar").hide();
            if ($("#instance_name").val()) {
                // Initialize table.
                $('#tablespace-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/db_diagnostic/tablespace/",
                    striped: true,                      // Show row stripe.
                    cache: false,                       // Disable cache.
                    pagination: true,                   // Enable pagination.
                    sortable: true,                     // Enable sorting.
                    sortName: 'total_size',
                    sortOrder: "desc",                  // Sort order.
                    sidePagination: "server",           // Server-side pagination.
                    pageNumber: 1,                      // Initial page number.
                    pageSize: 20,                       // Rows per page.
                    pageList: [14, 30, 50, 100, 500, 2000], // Page size options.
                    search: true,                       // Enable table search.
                    strictSearch: false,                // Use fuzzy search.
                    showColumns: true,                  // Show column selector.
                    showRefresh: true,                  // Show refresh button.
                    minimumCountColumns: 2,             // Minimum visible columns.
                    clickToSelect: true,                // Enable row selection.
                    uniqueId: "id",                     // Unique row identifier.
                    showToggle: true,                   // Show list/card toggle.
                    showExport: true,
                    exportDataType: "all",
                    cardView: false,                    // Disable card view.
                    detailView: false,                  // Disable detail view.
                    locale: 'en-US',                    // Localization.
                    toolbar: "#toolbar",                // Custom toolbar selector.
                    queryParamsType: 'limit',
                    // Request parameters sent to backend.
                    queryParams: function (params) {
                        return {
                            offset: params.offset,
                            limit: params.limit,
                            instance_name: $("#instance_name").val()
                        }
                    },
                    columns: tablespaceListColumns,
                    onLoadSuccess: function (data) {
                        if (data.status !== 0) {
                            alert("Data loading failed! " + data.msg);
                        }
                    },
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        // Pass search parameters to backend.
                        queryParams(e)
                    },
                    responseHandler: function (res) {
                        // Transform data before rendering table.
                        return res;
                    }
                });
            }
        }

        // DB diagnostics - transaction list.
        function get_trx_list() {
            $("#command-div").hide();
            $("#process-toolbar").hide();
            if ($("#instance_name").val()) {
                // Initialize table.
                $('#trx-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/db_diagnostic/innodb_trx/",
                    striped: true,                      // Show row stripe.
                    cache: false,                       // Disable cache.
                    pagination: true,                   // Enable pagination.
                    sortable: false,                    // Disable sorting.
                    sidePagination: "client",           // Client-side pagination.
                    pageNumber: 1,                      // Initial page number.
                    pageSize: 30,                       // Rows per page.
                    pageList: [20, 30, 50, 100],        // Page size options.
                    search: true,                       // Enable table search.
                    strictSearch: false,                // Use fuzzy search.
                    showColumns: true,                  // Show column selector.
                    showRefresh: true,                  // Show refresh button.
                    minimumCountColumns: 2,             // Minimum visible columns.
                    clickToSelect: true,                // Enable row selection.
                    uniqueId: "id",                     // Unique row identifier.
                    showToggle: true,                   // Show list/card toggle.
                    showExport: true,
                    exportDataType: "all",
                    cardView: false,                    // Disable card view.
                    detailView: true,                   // Enable detail view.
                    // Format detail view.
                    detailFormatter: function (index, row) {
                        var html = [];
                        $.each(row, function (key, value) {
                            if (key === 'info') {
                                var sql = window.sqlFormatter.format(value);
                                // Replace line breaks.
                                sql = sql.replace(/\r\n/g, "<br>");
                                sql = sql.replace(/\n/g, "<br>");
                                // Replace spaces.
                                sql = sql.replace(/\s/g, "&nbsp;");
                                html.push('<span>' + sql + '</span>');
                            }
                        });
                        return html.join('');
                    },
                    locale: 'en-US',                    // Localization.
                    toolbar: "#toolbar",                // Custom toolbar selector.
                    queryParamsType: 'limit',
                    // Request parameters sent to backend.
                    queryParams: function (params) {
                        return {
                            instance_name: $("#instance_name").val()
                        }
                    },
                    columns: [{
                        title: 'trx_started',
                        field: 'trx_started',
                        sortable: true
                    }, {
                        title: 'trx_idle_time',
                        field: 'trx_idle_time',
                        sortable: true
                    }, {
                        title: 'trx_state',
                        field: 'trx_state',
                        sortable: true
                    }, {
                        title: 'user',
                        field: 'user',
                    }, {
                        title: 'host',
                        field: 'host'
                    }, {
                        title: 'db',
                        field: 'db'
                    }, {
                        title: 'trx_mysql_thread_id',
                        field: 'trx_mysql_thread_id',
                    }, {
                        title: 'trx_operation_state',
                        field: 'trx_operation_state'
                    }, {
                        title: 'trx_tables_locked',
                        field: 'trx_tables_locked',
                    }, {
                        title: 'trx_rows_locked',
                        field: 'trx_rows_locked',
                    }, {
                        title: 'trx_rows_modified',
                        field: 'trx_rows_modified',
                    }, {
                        title: 'trx_is_read_only',
                        field: 'trx_is_read_only'
                    }, {
                        title: 'trx_isolation_level',
                        field: 'trx_isolation_level'
                    }, {
                        title: 'thread_time',
                        field: 'thread_time',
                        sortable: true
                    }, {
                        title: 'info',
                        field: 'info',
                        formatter: function (value, row, index) {
                            if (value.length > 20) {
                                var sql = value.substr(0, 20) + '...';
                                return sql;
                            } else {
                                return value
                            }
                        }
                    }, {
                        title: 'Full INFO',
                        field: 'info',
                        visible: false // Hidden by default.
                    }],
                    onLoadSuccess: function (data) {
                        if (data.status !== 0) {
                            alert("Data loading failed! " + data.msg);
                        }
                    },
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        // Pass search parameters to backend.
                        queryParams(e)
                    }
                });
            }
        }

        // Formatting metadata used by get_trxandlocks_list table.
        // 0. Database type; 1. Field mapping; 2. Detail formatter callback.
        let lockListTableInfos = [
            [
                'mysql',
                [{
                    title: 'Waiting State',
                    field: '\u7b49\u5f85\u7684\u72b6\u6001'
                }, {
                    title: 'Waiting Transaction Start Time',
                    field: '\u7b49\u5f85\u4e8b\u52a1\u5f00\u59cb\u65f6\u95f4',
                    sortable: true
                }, {
                    title: 'Waiting Transaction Wait Start Time',
                    field: '\u7b49\u5f85\u4e8b\u52a1\u7b49\u5f85\u5f00\u59cb\u65f6\u95f4'
                }, {
                    title: 'Waiting Transaction ID',
                    field: '\u7b49\u5f85\u4e8b\u52a1ID',
                }, {
                    title: 'Waiting Transaction Thread ID',
                    field: '\u7b49\u5f85\u4e8b\u52a1\u7ebf\u7a0bID',
                }, {
                    title: 'Waiting Transaction SQL',
                    field: '\u7b49\u5f85\u4e8b\u52a1\u7684sql',
                }, {
                    title: 'Waiting Table Info',
                    field: '\u7b49\u5f85\u7684\u8868\u4fe1\u606f',
                }, {
                    title: 'Waiting Lock ID',
                    field: '\u7b49\u5f85\u7684\u9501id'
                }, {
                    title: 'Running Transaction ID',
                    field: '\u8fd0\u884c\u7684\u4e8b\u52a1id'
                }, {
                    title: 'Running Transaction Thread ID',
                    field: '\u8fd0\u884c\u7684\u4e8b\u52a1\u7ebf\u7a0bid',
                }, {
                    title: 'Running Table Info',
                    field: '\u8fd0\u884c\u7684\u8868\u4fe1\u606f'
                }, {
                    title: 'Running Lock ID',
                    field: '\u8fd0\u884c\u7684\u9501id'
                }, {
                    title: 'Running Transaction State',
                    field: '\u8fd0\u884c\u4e8b\u52a1\u7684\u72b6\u6001'
                }, {
                    title: 'Running Transaction Time',
                    field: '\u8fd0\u884c\u4e8b\u52a1\u7684\u65f6\u95f4',
                }, {
                    title: 'Running Transaction Wait Start Time',
                    field: '\u8fd0\u884c\u4e8b\u52a1\u7684\u7b49\u5f85\u5f00\u59cb\u65f6\u95f4',
                }, {
                    title: 'Running Transaction SQL',
                    field: '\u8fd0\u884c\u4e8b\u52a1\u7684sql',
                }],
                 function (index, row) {
                    var html = [];
                    $.each(row, function (key, value) {
                        if (key === '\u7b49\u5f85\u4e8b\u52a1\u7684sql') {
                            var sql = window.sqlFormatter.format(value);
                            // Replace line breaks.
                            sql = sql.replace(/\r\n/g, "<br>");
                            sql = sql.replace(/\n/g, "<br>");
                            // Replace spaces.
                            sql = sql.replace(/\s/g, "&nbsp;");
                            html.push('<span>' + sql + '</span>');
                        }
                    });
                    return html.join('');
                }
            ],
            [
                'oracle',
                [{
                    title: 'USERNAME',
                    field: 'USERNAME'
                }, {
                    title: 'OBJECT_OWNER',
                    field: 'OBJECT_OWNER'
                }, {
                    title: 'OBJECT_ID',
                    field: 'OBJECT_ID'
                }, {
                    title: 'OBJECT_NAME',
                    field: 'OBJECT_NAME'
                }, {
                    title: 'LOCKED_MODE',
                    field: 'LOCKED_MODE'
                }, {
                    title: 'RELATED_SID',
                    field: 'RELATED_SID'
                }, {
                    title: 'RELATED_SERIAL#',
                    field: 'RELATED_SERIAL#'
                }, {
                    title: 'MACHINE',
                    field: 'MACHINE'
                }, {
                    title: 'RELATED_SQL',
                    field: 'RELATED_SQL'
                }, {
                    title: 'RELATED_SQL_FULL',
                    field: 'RELATED_SQL_FULL',
                    visible: false
                }, {
                    title: 'RELATED_SQL_EXEC_START',
                    field: 'RELATED_SQL_EXEC_START'
                }],
                 function (index, row) {
                    var html = [];
                    $.each(row, function (key, value) {
                        if (key === 'RELATED_SQL_FULL') {
                            var sql = window.sqlFormatter.format(value);
                            // Replace line breaks.
                            sql = sql.replace(/\r\n/g, "<br>");
                            sql = sql.replace(/\n/g, "<br>");
                            // Replace spaces.
                            sql = sql.replace(/\s/g, "&nbsp;");
                            html.push('<span>' + sql + '</span>');
                        }
                    });
                    return html.join('');
                }
            ]
        ]

        // DB diagnostics - lock wait list.
        function get_trxandlocks_list() {
            $("#command-div").hide();
            $("#process-toolbar").hide();
            if ($("#instance_name").val()) {
                // Initialize table.
                $('#trxandlocks-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/db_diagnostic/trxandlocks/",
                    striped: true,                      // Show row stripe.
                    cache: false,                       // Disable cache.
                    pagination: true,                   // Enable pagination.
                    sortable: true,                     // Enable sorting.
                    sortName: 'total_size',
                    sortOrder: "desc",                  // Sort order.
                    sidePagination: "client",           // Client-side pagination.
                    pageNumber: 1,                      // Initial page number.
                    pageSize: 30,                       // Rows per page.
                    pageList: [20, 30, 50, 100],        // Page size options.
                    search: true,                       // Enable table search.
                    strictSearch: false,                // Use fuzzy search.
                    showColumns: true,                  // Show column selector.
                    showRefresh: true,                  // Show refresh button.
                    minimumCountColumns: 2,             // Minimum visible columns.
                    clickToSelect: true,                // Enable row selection.
                    uniqueId: "id",                     // Unique row identifier.
                    showToggle: true,                   // Show list/card toggle.
                    showExport: true,
                    exportDataType: "all",
                    cardView: false,                    // Disable card view.
                    detailView: true,                   // Enable detail view.
                    detailFormatter: lockListDetailFormatCallback,
                    locale: 'en-US',                    // Localization.
                    toolbar: "#toolbar",                // Custom toolbar selector.
                    queryParamsType: 'limit',
                    // Request parameters sent to backend.
                    queryParams: function (params) {
                        return {
                            instance_name: $("#instance_name").val()
                        }
                    },
                    columns: lockListColumns,
                    onLoadSuccess: function (data) {
                        if (data.status !== 0) {
                            alert("Data loading failed! " + data.msg);
                        }
                    },
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        // Pass search parameters to backend.
                        queryParams(e)
                    }
                });
            }
        }


        // Show confirm dialog and build terminate-session request.
        $(function () {
            $("#kill_process").click(function () {
                var AllSelections = $("#process-list").bootstrapTable('getSelections');
                if (AllSelections.length > 0) {
                    // Get selected thread IDs.
                    var AllSelectionIds = [];
                    for (var i = 0; i < AllSelections.length; i++) {
                        if (AllSelections[i]['id']){
                            AllSelectionIds.push(AllSelections[i]['id'])    // mysql
                        } else if (AllSelections[i]['opid']) {
                            AllSelectionIds.push(AllSelections[i]['opid'])  // mongo
                        } else if (AllSelections[i]['SID']) {
                            AllSelectionIds.push([AllSelections[i]['SID'],AllSelections[i]['SERIAL#']])  // oracle
                        }
                    }
                    var instance_name = $("#instance_name").val();

                    // Send request to build session command.
                    $.ajax({
                        type: "post",
                        url: "/db_diagnostic/create_kill_session/",
                        dataType: "json",
                        data: {
                            instance_name: instance_name,
                            ThreadIDs: JSON.stringify(AllSelectionIds)
                        },
                        traditional: true,
                        complete: function () {

                        },
                        success: function (data) {
                            if (data.status === 0) {
                                var result = data.data;
                                // Populate modal values.
                                $("#request_params").val(result);
                                $("#kill_sql").text(result);
                                // Open dialog.
                                $("#killComfirm").modal();
                            } else {
                                alert(data.msg);
                            }
                        }
                    })
                } else {
                    alert("Please select a session to terminate first")
                }
            });
        });

        // Terminate session.
        function kill_session() {
            var AllSelections = $("#process-list").bootstrapTable('getSelections');
            if (AllSelections.length > 0) {
                // Get selected thread IDs.
                var AllSelectionIds = [];
                for (var i = 0; i < AllSelections.length; i++) {
                    if (AllSelections[i]['id']){
                        AllSelectionIds.push(AllSelections[i]['id'])    // mysql
                    } else if (AllSelections[i]['opid']) {
                        AllSelectionIds.push(AllSelections[i]['opid'])  // mongo
                    } else if (AllSelections[i]['SID']) {
                        AllSelectionIds.push([AllSelections[i]['SID'],AllSelections[i]['SERIAL#']])  // oracle
                    }
                }
                var instance_name = $("#instance_name").val();
                var request_params = $("#request_params").val();
                if (request_params) {
                    // Send terminate-session request.
                    $.ajax({
                        type: "post",
                        url: "/db_diagnostic/kill_session/",
                        dataType: "json",
                        data: {
                            instance_name: instance_name,
                            ThreadIDs: JSON.stringify(AllSelectionIds)
                        },
                        traditional: true,
                        complete: function () {
                            // Refresh page data.
                            get_process_list();
                            $("#command-div").show();
                            $("#process-toolbar").show();
                        },
                        success: function (data) {
                            if (data.status === 0) {
                            }
                        }
                    })
                } else {
                    alert("Selected session(s) are already terminated!")
                }
            } else {
                alert("Please select a session to terminate first")
            }
        }

        var allInstances = NaN;
        $(document).ready(function () {
                // Get instance list available to current user.
                $(function () {
                    // Session management supported database types.
                    supportedDbType=['mysql','mongo', 'oracle','redis','pgsql','doris']
                    $.ajax({
                        type: "get",
                        url: "/group/user_all_instances/",
                        dataType: "json",
                        data: {
                            db_type: supportedDbType
                        },
                        complete: function () {
                            // Auto-fill selected instance on page load and reset active tab ID.
                            sessionStorage.setItem('diagnostic_active_li_id', 'process_tab');
                            if (sessionStorage.getItem('diagnostic_instance_name')) {
                                $("#instance_name").val(sessionStorage.getItem('diagnostic_instance_name')).trigger("change");
                                $("#command-div").show();
                                $("#process-toolbar").show();
                            }
                        },
                        success: function (data) {
                            if (data.status === 0) {
                                let result = data['data'];
                                allInstances = result;
                                supportedDbType.forEach(function(db) {
                                    $("#optgroup-" + db).empty();
                                });
                                for (let i = 0; i < result.length; i++) {
                                    let instance = "<option value=\"" + result[i]['instance_name'] + "\">" + result[i]['instance_name'] + "</option>";
                                    var dbType = result[i]['db_type'];
                                    $("#optgroup-" + dbType).append(instance);
                                }
                                $('#instance_name').selectpicker('render');
                                $('#instance_name').selectpicker('refresh');
                            } else {
                                alert(data.msg);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                });
            }
        );
        // Preserve active tab ID on tab switch.
        $(function () {
            $("#nav-tabs").on('shown.bs.tab', "li", function (e) {
                var active_li_id = $(e.target).parents().attr('id');
                sessionStorage.setItem('diagnostic_active_li_id', active_li_id);
                // Current active tab ID.
                if ($("#instance_name").val()) {
                    if (active_li_id === 'process_tab') {
                        get_process_list();
                    } else if (active_li_id === 'space_tab') {
                        get_space_list();
                    } else if (active_li_id === 'trxandlocks_tab') {
                        get_trxandlocks_list();
                    } else if (active_li_id === 'trx_tab') {
                        get_trx_list();
                    }
                }
            });
        });

        // Save selected instance info on change.
        $("#instance_name").change(function () {
            // Different database types require different operations.
            $("#command").empty();
            
            let command_types = NaN;
            let db_type = NaN;
            allInstances.forEach((instanceInfo,i) => {
                if (instanceInfo["instance_name"] === $("#instance_name").val()) {
                    db_type = instanceInfo["db_type"];
                }
            })
            processListTableInfos.forEach((processListTableInfo,i) =>{
                if (processListTableInfo[0] === db_type) {
                    command_types = processListTableInfo[1];
                    processListColumns = processListTableInfo[2];
                    processListDetailFormatCallback = processListTableInfo[3];
                }
            })
            tablespaceListTableInfos.forEach((tablespaceListTableInfo,i) =>{
                if (tablespaceListTableInfo[0] === db_type) {
                    tablespaceListColumns = tablespaceListTableInfo[1];
                }
            })
            lockListTableInfos.forEach((lockListTableInfo,i) =>{
                if (lockListTableInfo[0] === db_type) {
                    lockListColumns = lockListTableInfo[1];
                    lockListDetailFormatCallback = lockListTableInfo[2];
                }
            })
            
            // console.log(command_types);
            for (let i = 0; i < command_types.length; i++) {
                let instance = "<option value=\"" + command_types[i]+ "\">" + command_types[i] + "</option>";
                $("#command").append(instance);
            }

            $('#command').selectpicker('render');
            $('#command').selectpicker('refresh');
            
            sessionStorage.setItem('diagnostic_instance_name', $("#instance_name").val());
            var active_li_id = sessionStorage.getItem('diagnostic_active_li_id');
            if (active_li_id === 'process_tab') {
                get_process_list();
            } else if (active_li_id === 'space_tab') {
                get_space_list();
            } else if (active_li_id === 'trxandlocks_tab') {
                get_trxandlocks_list();
            } else if (active_li_id === 'trx_tab') {
                get_trx_list();
            }

        });

        // Auto-refresh when command type changes.
        $("#command").change(function () {
            get_process_list();
        });
    </script>
{% endblock %}
