{% extends "base.html" %}

{% block content %}
    <!-- Nav tabs -->
    <ul id="nav-tabs" class="nav nav-tabs" role="tablist">
        <li id="param_tab" class="active">
            <a href="#param_table" role="tab" data-toggle="tab">Editable Parameters</a>
        </li>
        <li id="history_tab">
            <a href="#history_table" role="tab" data-toggle="tab">Change History</a>
        </li>
        <div class="form-inline pull-right">
            <div class="form-group ">
                <button id="btn_add_param" type="button" class="btn btn-default"
                        onclick="window.open('/admin/sql/paramtemplate/add/')">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add Parameter
                </button>
            </div>
            <div id="editable-div" style="display: none" class="form-group">
                <select id=editable class="form-control selectpicker" data-live-search="true">
                    <option value="is-empty" disabled="">Editable</option>
                    <option value="true" selected="selected">Yes</option>
                    <option value=''>No</option>
                </select>
            </div>
            <div class="form-group ">
                <select id=instance class="form-control selectpicker" name="instance_list"
                        title="Please select instance"
                        data-live-search="true">
                    <option value="is-empty" disabled="" selected="selected">Please select instance</option>
                </select>
            </div>
        </div>
    </ul>
    <div id="tab-content" class="tab-content">
        <div id="param_table" role="tabpanel" class="tab-pane fade in active table-responsive">
            <table id="param-list" data-toggle="table" class="table table-hover"
                   style="table-layout:fixed;word-break:break-word;overflow:hidden;"></table>
        </div>
        <div id="history_table" role="tabpanel" class="tab-pane fade table-responsive">
            <table id="history-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            </table>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load static %}
    <link href="{% static 'bootstrap-editable/css/bootstrap-editable.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-table/extensions/editable/bootstrap-table-editable.js' %}"></script>
    <script src="{% static 'bootstrap-editable/js/bootstrap-editable.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <script src="{% static 'sql-formatter/sql-formatter.min.js' %}"></script>
    <script>
        function get_param_list() {
            $("#editable-div").show();
            if ($("#instance").val()) {
                // Initialize table.
                $('#param-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/param/list/",
                    striped: true,                      // Show row stripe.
                    cache: false,                       // Disable cache.
                    pagination: true,                   // Enable pagination.
                    sortable: true,                     // Enable sorting.
                    sortOrder: "desc",                  // Sort order.
                    sortName: 'time',                   // Sort field.
                    sidePagination: "client",           // Client-side pagination.
                    pageNumber: 1,                      // Initial page number.
                    pageSize: 30,                       // Rows per page.
                    pageList: [20, 30, 50, 100, 500],  // Page size options.
                    search: true,                       // Enable table search.
                    strictSearch: false,                // Use fuzzy search.
                    showColumns: true,                  // Show column selector.
                    showRefresh: true,                  // Show refresh button.
                    showExport: true,
                    exportDataType: "all",
                    minimumCountColumns: 2,             // Minimum visible columns.
                    clickToSelect: true,                // Enable row selection.
                    showToggle: true,                   // Show list/card toggle.
                    cardView: false,                    // Disable card view.
                    detailView: true,                   // Enable detail view.
                    detailFormatter: function (index, row) {
                        return row.description
                    },
                    locale: 'en-US',                    // Localization.
                    toolbar: "#process-toolbar",        // Custom toolbar selector.
                    queryParamsType: 'limit',
                    // Request parameters sent to backend.
                    queryParams: function (params) {
                        return {
                            search: params.search,
                            editable: $("#editable").val(),
                            instance_id: $("#instance").val()
                        }
                    },
                    onEditableSave: function (field, row, oldValue, $el) {
                        if (row.editable) {
                            $.ajax({
                                type: "post",
                                url: "/param/edit/",
                                data: {
                                    instance_id: $("#instance").val(),
                                    variable_name: row.variable_name,
                                    runtime_value: row.runtime_value
                                },
                                success: function (data) {
                                    alert(data.msg);
                                    get_param_list()
                                },
                                error: function (data) {
                                    alert(data.msg);
                                    get_param_list()

                                }
                            });
                        } else {
                            alert('Please configure this parameter in the parameter template first!');
                            get_param_list()
                        }
                    },
                    columns: [{
                        title: 'Parameter Name',
                        field: 'variable_name',
                        formatter: function (value, row, index) {
                            if (row.id) {
                                return "<a target=\"_blank\" href=\"/admin/sql/paramtemplate/" + row.id + "/change/\">" + value + "</a>"
                            } else {
                                return value
                            }
                        }
                    }, {
                        title: 'Runtime Value',
                        field: 'runtime_value',
                        editable: {
                            type: 'text',
                            title: 'Edit Parameter Value',
                            placement: 'bottom',
                            emptytext: '-',
                            validate: function (v) {
                                if (!v) return 'Parameter value cannot be empty';
                            }
                        }
                    }, {
                        title: 'Default Value',
                        field: 'default_value'
                    }, {
                        title: 'Allowed Values',
                        field: 'valid_values'
                    }, {
                        title: 'Parameter Description',
                        field: 'description',
                        visible: false // Hidden by default.
                    }],
                    onLoadSuccess: function () {
                    },
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        // Send search parameters to server.
                        return {
                            search: e.search
                        }
                    },
                    responseHandler: function (res) {
                        // Transform data before rendering table.
                        return res;
                    }
                });
            }
        }

        function get_param_edit_history() {
            $("#editable-div").hide();
            if ($("#instance").val()) {
                $('#history-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/param/history/",
                    striped: true,                      // Show row stripe.
                    cache: false,                       // Disable cache.
                    pagination: true,                   // Enable pagination.
                    sidePagination: "server",           // Server-side pagination.
                    pageNumber: 1,                      // Initial page number.
                    pageSize: 30,                       // Rows per page.
                    pageList: [20, 30, 50, 100],       // Page size options.
                    search: true,                       // Enable table search.
                    strictSearch: false,                // Use fuzzy search.
                    showColumns: true,                  // Show column selector.
                    showRefresh: true,                  // Show refresh button.
                    minimumCountColumns: 2,             // Minimum visible columns.
                    clickToSelect: true,                // Enable row selection.
                    uniqueId: "id",                     // Unique row identifier.
                    showToggle: true,                   // Show list/card toggle.
                    showExport: true,
                    exportDataType: "all",
                    cardView: false,                    // Disable card view.
                    detailView: false,                  // Disable detail view.
                    locale: 'en-US',                    // Localization.
                    toolbar: "#toolbar",                // Custom toolbar selector.
                    queryParamsType: 'limit',
                    // Request parameters sent to backend.
                    queryParams: function (params) {
                        return {
                            limit: params.limit,
                            offset: params.offset,
                            search: params.search,
                            instance_id: $("#instance").val()
                        }
                    },
                    columns: [{
                        title: 'Instance Name',
                        field: 'instance__instance_name'
                    }, {
                        title: 'Parameter Name',
                        field: 'variable_name'
                    }, {
                        title: 'Old Value',
                        field: 'old_var'
                    }, {
                        title: 'New Value',
                        field: 'new_var'
                    }, {
                        title: 'Modified By',
                        field: 'user_display'
                    }, {
                        title: 'Modified At',
                        field: 'create_time'
                    }],
                    onLoadSuccess: function () {
                    },
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        // Send search parameters to server.
                        return {
                            search: e.search
                        }
                    },
                    responseHandler: function (res) {
                        // Transform data before rendering table.
                        return res;
                    }
                });
            }
        }

        // If an instance is selected, auto-fill on page load and reset active tab.
        $(document).ready(function () {
                // Get user instance list.
                $(function () {
                    $.ajax({
                        type: "get",
                        url: "/group/user_all_instances/",
                        dataType: "json",
                        data: {
                            db_type: ['mysql', 'inception', 'goinception']
                        },
                        complete: function () {
                            // If an instance is selected, auto-fill and reset active tab id.
                            sessionStorage.setItem('param_active_li_id', 'param_tab');
                            if (sessionStorage.getItem('instance_id')) {
                                $("#instance").val(sessionStorage.getItem('instance_id')).trigger("change");
                            }
                            get_param_list();
                        },
                        success: function (data) {
                            if (data.status === 0) {
                                let result = data['data'];
                                $("#instance").empty();
                                for (let i = 0; i < result.length; i++) {
                                    let instance = "<option value=\"" + result[i]['id'] + "\">" + result[i]['instance_name'] + "</option>";
                                    $("#instance").append(instance);
                                }
                                $('#instance').selectpicker('render');
                                $('#instance').selectpicker('refresh');
                            } else {
                                alert(data.msg);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                });
            }
        );

        // Preserve active tab id when switching tabs.
        $(function () {
            $("#nav-tabs").on('shown.bs.tab', "li", function (e) {
                var active_li_id = $(e.target).parents().attr('id');
                sessionStorage.setItem('param_active_li_id', active_li_id);
                // Current active tab id.
                if (active_li_id === 'param_tab') {
                    get_param_list();
                } else if (active_li_id === 'history_tab') {
                    get_param_edit_history();
                }
            });
        });

        // On instance change.
        $("#instance").change(function () {
            flush()
        });

        // On filter change.
        $("#editable").change(function () {
            flush()
        });

        // Refresh page content.
        function flush() {
            sessionStorage.setItem('instance_id', $("#instance").val());
            var active_li_id = sessionStorage.getItem('param_active_li_id');
            if (active_li_id === 'param_tab') {
                get_param_list();
            } else if (active_li_id === 'history_tab') {
                get_param_edit_history();
            }
        }

    </script>
{% endblock %}
