{% extends "base.html" %}

{% block content %}
    <!-- Custom action button -->
    <div id="toolbar" class="btn-group right">
        <a type='button' id="btnSubmitRollback" class="btn btn-warning" href="/editsql/">Submit Rollback Request</a>
    </div>
    <table id="tb-rollback" data-toggle="table" class="table table-condensed"
           style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"></table>
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <script>
        $('#tb-rollback').bootstrapTable('destroy').bootstrapTable({
            escape: true,
            method: 'get',
            contentType: "application/x-www-form-urlencoded",
            url: "/sqlworkflow/backup_sql/",
            striped: true,                      // Show row stripe.
            cache: false,                       // Disable cache.
            pagination: true,                   // Enable pagination.
            sortable: true,                     // Enable sorting.
            sidePagination: "client",           // Client-side pagination.
            pageNumber: 1,                      // Initial page number.
            pageSize: 20,                       // Rows per page.
            pageList: [10, 30, 50, 100, 500],   // Page size options.
            showExport: true,                   // Show export button.
            exportOptions: {
                ignoreColumn: [0],  // Ignored column indexes.
            },
            search: true,                       // Enable table search.
            strictSearch: false,                // Use fuzzy search.
            showColumns: true,                  // Show column selector.
            showRefresh: true,                  // Show refresh button.
            minimumCountColumns: 1,             // Minimum visible columns.
            clickToSelect: false,               // Disable row selection.
            uniqueId: "id",                     // Unique row identifier.
            showToggle: false,                  // Hide list/card toggle.
            cardView: false,                    // Disable card view.
            toolbar: "#toolbar",                // Custom toolbar selector.
            detailView: true,                   // Enable detail view.
            // Format detail row.
            detailFormatter: function (index, row) {
                var html = [];
                $.each(row, function (index, key) {
                        if (index === 1) {
                            //let sql = window.sqlFormatter.format(key);
                            let sql = key;
                            // Escape HTML tags.
                            sql = sql.replace(/&/g, "&amp;");
                            sql = sql.replace(/</g, "&lt;");
                            sql = sql.replace(/>/g, "&gt;");
                            sql = sql.replace(/"/g, "&quot;");
                            // Replace line breaks.
                            sql = sql.replace(/\r\n/g, "<br>");
                            sql = sql.replace(/\n/g, "<br>");
                            // Replace spaces.
                            sql = sql.replace(/\s/g, "&nbsp;");
                            html.push('<span>' + sql + '</span>');
                        }
                    }
                );
                return html.join('');
            },
            queryParamsType: 'limit',
            // Request parameters sent to backend.
            queryParams:
                function (params) {
                    return {
                        workflow_id: "{{ workflow_detail.id }}",
                    }
                },
            locale: 'en-US',                    // Localization.
            columns: [{
                title: 'Executed SQL',
                field: 0,
                formatter: function (value, row, index) {
                    if (value.length > 50) {
                        return value.substr(0, 50) + '...';
                    } else {
                        return value
                    }
                }
            }, {
                title: 'Full Executed SQL',
                field: 0,
                visible: false
            }, {
                title: 'Rollback SQL',
                field: 1,
                formatter: function (value, row, index) {
                    var sql=row[1];
                    if (sql.length > 80) {
                        return sql.substr(0, 80) + '...';
                    } else {
                        return sql
                    }
                }
            }, {
                title: 'Full Rollback SQL',
                field: 1,
                visible: false // Hidden by default.
            }],
            onLoadSuccess: function (data) {
                // Cache rollback SQL for quick submit.
                if (data.status !== 0) {
                    alert("Failed to load data! " + data.msg);
                } else {
                    let backup_sql = '';
                    for (let sql of data.rows) {
                        backup_sql += sql[1] + '\n'
                    }
                    sessionStorage.setItem('editSqlContent', backup_sql);
                }
            },
            onLoadError: onLoadErrorCallback,
        });
        $(document).ready(function () {
            var isRollback = window.location.pathname.indexOf("rollback");
            if (isRollback != -1) {
                $("#btnSubmitRollback").click(function () {
                    $(this).button('loading').delay(2500).queue(function () {
                        $(this).button('reset');
                        $(this).dequeue();
                    });
                    var editWorkflowNname = "{{ rollback_workflow_name }}";
                    var editGroup = "{{ workflow_detail.group_name }}";
                    var editClustername = "{{ workflow_detail.instance.instance_name }}";
                    var editDbname = "{{ workflow_detail.db_name }}";
                    var editIsbackup = "{{ workflow_detail.is_backup }}";
                    sessionStorage.removeItem('editWorkflowDetailId');
                    sessionStorage.setItem('editWorkflowNname', editWorkflowNname);
                    sessionStorage.setItem('editGroup', editGroup);
                    sessionStorage.setItem('editClustername', editClustername);
                    sessionStorage.setItem('editDbname', editDbname);
                    sessionStorage.setItem('editIsbackup', editIsbackup);
                });
            }
        });
    </script>
{% endblock %}
