{% extends "base.html" %}

{% block content %}
    <!-- Custom action buttons -->
    <div id="sqladvisor-toolbar" class="btn-group right" style="display:none;">
        <button id=sqladvisor class="btn btn-default" style="" type="button">Get Optimization Advice</button>
    </div>
    <!-- Nav tabs -->
    <ul id="nav-tabs" class="nav nav-tabs" role="tablist">
        <li id="slowsql_tab" class="active">
            <a href="#slowsql" role="tab" data-toggle="tab">Slow Log Summary</a>
        </li>
        <li id="slowsqlinfo_tab">
            <a href="#slowsqlinfo" role="tab" data-toggle="tab">Slow Log Details</a>
        </li>
        <div class="form-inline pull-right">
            <div class="form-group">
                <select id=instance_name class="form-control selectpicker" name="instances"
                        title="Please select instance:"
                        data-live-search="true">
                </select>
            </div>
            <div class="form-group">
                <select id=db_name class="form-control selectpicker" name="db_name_list"
                        title="Please select database:"
                        data-live-search="true">
                </select>
            </div>
            <div class="form-group">
                <div id="reservation" class="form-control"
                     style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
        </div>
    </ul>
    <!-- Tab panes -->
    <div id="tab-content" class="tab-content">
        <!-- Slow log summary -->
        <div id="slowsql" role="tabpanel" class="tab-pane fade in active table-responsive">
            <table id="slowsql-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"></table>

        </div>
        <!-- Slow log details -->
        <div id="slowsqlinfo" role="tabpanel" class="tab-pane fade table-responsive">
            <table id="slowsqlinfo-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"></table>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load static %}
    <link href="{% static 'daterangepicker/css/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'daterangepicker/js/moment.min.js' %}"></script>
    <script src="{% static 'daterangepicker/js/daterangepicker.js' %}"></script>
    <script src="{% static 'bootstrap-table/export-libs/FileSaver/FileSaver.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/export-libs/js-xlsx/xlsx.core.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <!-- Selectors and toggle controls -->
    <script>
        // Initialize date range control.
        $(function () {
            let start = moment().startOf('day');
            let end = moment();

            function cb(start, end) {
                $('#reservation span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
            }

            $('#reservation').daterangepicker({
                startDate: start,
                endDate: end,
                locale: {
                    format: "YYYY-MM-DD", // Display format.
                    separator: " / ", // Date range separator.
                    applyLabel: "Apply",
                    cancelLabel: "Cancel",
                    fromLabel: "From",
                    toLabel: "To",
                    customRangeLabel: "Custom",
                    daysOfWeek: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                    monthNames: [
                        "January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"
                    ],
                    firstDay: 1
                },
                ranges: {
                    "Today": [moment().startOf('day'), moment()],
                    "Yesterday": [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                    "Last 7 Days": [moment().subtract('days', 6), moment()],
                    "Last 30 Days": [moment().subtract('days', 29), moment()],
                    "This Month": [moment().startOf("month"), moment().endOf("month")],
                    "Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
                }
            }, cb).on('apply.daterangepicker', function (ev, picker) {
                sessionStorage.removeItem('SQLId');
                var start_date = picker.startDate.format('YYYY-MM-DD');
                var end_date = picker.endDate.format('YYYY-MM-DD');
                sessionStorage.setItem('start_date', start_date);
                sessionStorage.setItem('end_date', end_date);
                var slowsql_active_li_id = sessionStorage.getItem('slowsql_active_li_id');
                if (slowsql_active_li_id === 'slowsql_tab') {
                    slowquery_review()
                } else if (slowsql_active_li_id === 'slowsqlinfo_tab') {
                    slowquery_review_history()

                }
            });
            cb(start, end);
        });

        // On instance change, auto-load databases.
        $("#instance_name").change(function () {
            sessionStorage.setItem('slow_query_instance_name', $("#instance_name").val());
            sessionStorage.removeItem('slow_query_db_name');
            sessionStorage.removeItem('SQLId');
            get_db_list();

        });

        // Load database list and query logs.
        function get_db_list() {
            // Send AJAX request to fetch db_name.
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name option:selected").text(),
                    resource_type: "database"
                },
                complete: function () {
                    var slowsql_active_li_id = sessionStorage.getItem('slowsql_active_li_id');
                    if (slowsql_active_li_id === 'slowsql_tab') {
                        slowquery_review()
                    } else if (slowsql_active_li_id === 'slowsqlinfo_tab') {
                        slowquery_review_history()

                    }
                },
                success: function (data) {
                    if (data.status == 0) {
                        var result = data.data;
                        $("#db_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option value=\"" + result[i] + "\">" + result[i] + "</option>";
                            $("#db_name").append(name);
                        }
                        $("#db_name").prepend("<option value=\"\" selected=\"selected\">All Databases</option>");
                        $('#db_name').selectpicker('render');
                        $('#db_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }

        // On database change, auto-load logs.
        $("#db_name").change(function () {
            sessionStorage.setItem('slow_query_db_name', $("#db_name").val());
            sessionStorage.removeItem('SQLId');
            var slowsql_active_li_id = sessionStorage.getItem('slowsql_active_li_id');
            if (slowsql_active_li_id === 'slowsql_tab') {
                slowquery_review()
            } else if (slowsql_active_li_id === 'slowsqlinfo_tab') {
                slowquery_review_history()

            }
        });

        // If instance_name was selected before, auto-load on page entry.
        $(document).ready(function () {
            // Get user instance list.
            $(function () {
                $.ajax({
                    type: "get",
                    url: "/group/user_all_instances/",
                    dataType: "json",
                    data: {
                        db_type: ['mysql']
                    },
                    complete: function () {
                        // If instance_name was selected before, auto-load on page entry.
                        sessionStorage.removeItem('SQLId');
                        sessionStorage.setItem('slowsql_active_li_id', 'slowsql_tab');
                        if (sessionStorage.getItem('slow_query_instance_name')) {
                            var instance_name = sessionStorage.getItem('slow_query_instance_name');
                            var start_date = sessionStorage.getItem('start_date');
                            var end_date = sessionStorage.getItem('end_date');
                            if (start_date && end_date) {
                                $('#reservation').data('daterangepicker').setStartDate(start_date);
                                $('#reservation').data('daterangepicker').setEndDate(end_date);
                            }
                            $("#instance_name").val(instance_name).trigger("change");
                        }
                    },
                    success: function (data) {
                        if (data.status === 0) {
                            let result = data['data'];
                            $("#instance_name").empty();
                            $("#target_instance_name").empty();
                            for (let i = 0; i < result.length; i++) {
                                let instance = "<option value=\"" + result[i]['instance_name'] + "\">" + result[i]['instance_name'] + "</option>";
                                $("#instance_name").append(instance);
                                $("#target_instance_name").append(instance);
                            }
                            $('#instance_name').selectpicker('render');
                            $('#instance_name').selectpicker('refresh');
                            $('#target_instance_name').selectpicker('render');
                            $('#target_instance_name').selectpicker('refresh');
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            });
        });

        // Preserve active tab id when switching tabs.
        $(function () {
            $("#nav-tabs").on('shown.bs.tab', "li", function (e) {
                var active_li_id = $(e.target).parents().attr('id');
                sessionStorage.setItem('slowsql_active_li_id', active_li_id);
                // Current active tab id.
                if ($("#instance_name").val()) {
                    if (active_li_id === 'slowsql_tab') {
                        sessionStorage.removeItem('SQLId');
                        slowquery_review();
                    } else if (active_li_id === 'slowsqlinfo_tab') {
                        slowquery_review_history()
                    }
                }
            });
        });
    </script>
    <!-- sqladvisor -->
    <script>
        // Click SQL summary row to jump to corresponding SQL list.
        $(function () {
            $('#slowsql-list').on('click-row.bs.table', function (e, row, element) {
                sessionStorage.setItem('SQLId', row.SQLId);
                $('#nav-tabs a[href="#slowsqlinfo"]').tab('show')
            });
        });

        // Click optimization button to fetch optimization info.
        $(function () {
            $("#sqladvisor").click(function () {
                if ($("#slowsqlinfo-list").bootstrapTable('getSelections')[0]) {
                    var advisor_sql_content = $("#slowsqlinfo-list").bootstrapTable('getSelections')[0]['SQLText'] + ';';
                    var advisor_db_name = $("#slowsqlinfo-list").bootstrapTable('getSelections')[0]['DBName'];
                    var advisor_instance_name = $("#instance_name").val();
                    sessionStorage.setItem('advisor_sql_content', advisor_sql_content);
                    sessionStorage.setItem('advisor_db_name', advisor_db_name);
                    sessionStorage.setItem('advisor_instance_name', advisor_instance_name);
                    location.href = '/slowquery_advisor/';
                } else {
                    alert("Please select SQL to optimize first")
                }
            });
        });
    </script>
    <!-- Fetch list data -->
    <script>
        // Get slow log summary.
        function slowquery_review() {
            $("#sqladvisor-toolbar").hide();
            var instance_name = $("#instance_name").val();
            if (instance_name) {
                // Initialize table.
                $('#slowsql-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/slowquery/review/",
                    striped: true,                      // Show row stripe.
                    cache: false,                       // Disable cache.
                    pagination: true,                   // Enable pagination.
                    sortable: true,                     // Enable sorting.
                    sortName: "MySQLTotalExecutionCounts", // Default sort field.
                    sortOrder: "desc",                  // Default sort order.
                    sidePagination: "server",           // Server-side pagination.
                    pageNumber: 1,                      // Initial page number.
                    pageSize: 30,                       // Rows per page.
                    pageList: [30, 50, 100, 1000],      // Page size options.
                    search: true,                       // Enable table search.
                    strictSearch: false,                // Use fuzzy search.
                    showColumns: true,                  // Show column selector.
                    showRefresh: true,                  // Show refresh button.
                    showExport: true,                   // Show export button.
                    exportTypes: ['json', 'sql', 'csv', 'txt', 'xml', 'xlsx'],
                    exportOptions: {
                        ignoreColumn: [0],  // Ignore selected column indices.
                        fileName: 'slowquery_review'  // Export filename.
                    },
                    minimumCountColumns: 2,             // Minimum visible columns.
                    clickToSelect: true,                // Enable row selection.
                    uniqueId: "id",                     // Unique row identifier.
                    showToggle: true,                   // Show list/card toggle.
                    cardView: false,                    // Disable card view.
                    detailView: true,                   // Enable detail view.
                    queryParamsType: 'limit',
                    queryParams: function (params) {
                        var instance_name = $("#instance_name").val();
                        var db_name = $("#db_name").val();
                        var StartTime = $('#reservation').data('daterangepicker').startDate.format('YYYY-MM-DD');
                        var EndTime = $("#reservation").data('daterangepicker').endDate.format('YYYY-MM-DD');
                        //console.info(params);
                        //console.info('params='+JSON.stringify(params));

                        return {
                            instance_name: instance_name,
                            db_name: db_name,
                            StartTime: StartTime,
                            EndTime: EndTime,
                            limit: params.limit,
                            offset: params.offset,
                            search: params.search,
                            sortName: params.sort,
                            sortOrder: params.order
                        }
                    },
                    // Format detail view.
                    detailFormatter: function (index, row) {
                        let html = [];
                        $.each(row, function (key, value) {
                            if (key === 'SQLText') {
                                let sql = window.sqlFormatter.format(value);
                                // Replace line breaks.
                                sql = sql.replace(/\r\n/g, "<br>");
                                sql = sql.replace(/\n/g, "<br>");
                                // Replace spaces.
                                sql = sql.replace(/\s/g, "&nbsp;");
                                html.push('<div class="col-lg-4">' + sql + '</div>');
                            }
                        });
                        $.ajax({
                            type: "get",
                            url: "/slowquery/report/",
                            async: false,
                            dataType: "json",
                            data: {
                                checksum: row.SQLId,
                            },
                            complete: function () {
                            },
                            success: function (data) {
                                if (data.status === 0) {
                                    let chart = data.data;
                                    html.push('<div class="col-lg-8">' + chart + '</div>')
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(errorThrown);
                            }
                        });
                        return html.join('');
                    },
                    columns: [{
                        title: 'Log Statistics Time',
                        field: 'CreateTime',
                        sortable:true
                    }, {
                        title: 'Database Name',
                        field: 'DBName',
                        sortable:true
                    }, {
                        title: 'SQL Statement',
                        field: 'SQLText',
                        cellStyle:      // Highlight SQL statistic entries.
                            function formatTableUnit(value, row, index) {
                                return {
                                    css: {
                                        "color": '#06C',
                                        "text-decoration": 'underline',
                                        "cursor": 'pointer'
                                    }
                                }
                            },
                        formatter: function (value, row, index) {
                            if (value.length > 100) {
                                var sql = value.substr(0, 100) + '...';
                                return sql;
                            } else {
                                return value
                            }
                        }
                    }, {
                        title: 'Full SQL Statement',
                        field: 'SQLText',
                        visible: false // Hidden by default.
                    }, {
                        title: 'Total Executions',
                        field: 'MySQLTotalExecutionCounts',
                        sortable:true
                    }, {
                        title: 'Total Execution Time (s)',
                        field: 'MySQLTotalExecutionTimes',
                        sortable:true
                    }, {
                        title: 'Avg Execution Time (s)',
                        field: 'QueryTimeAvg',
                        sortable:true
                    }, {
                        title: 'Total Rows Scanned',
                        field: 'ParseTotalRowCounts',
                        sortable:true
                    }, {
                        title: 'Total Rows Returned',
                        field: 'ReturnTotalRowCounts',
                        sortable:true
                    }, {
                        title: 'Avg Rows Scanned',
                        field: 'ParseRowAvg',
                        sortable:true
                    }, {
                        title: 'Avg Rows Returned',
                        field: 'ReturnRowAvg',
                        sortable:true
                    }],
                    locale: 'en-US',
                    onLoadError: onLoadErrorCallback,
                    onSearch: function(e) {
                        // Pass search parameters to backend.
                        //console.info('search='+e);
                        //queryParams(e);
                    },
                    responseHandler: function(res) {
                        // Transform data before rendering table.
                        return res;
                    },onSort: function(sortName,order){
                        //console.info('onSort: name='+sortName+'; order='+order+';');
                    }
                });
            } else {
                alert('Please select an instance')
            }
        }

        // Get slow log details.
        function slowquery_review_history() {
            $("#sqladvisor-toolbar").show();
            var instance_name = $("#instance_name").val();
            if (instance_name) {
                // Initialize table.
                $('#slowsqlinfo-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/slowquery/review_history/",
                    striped: true,                      // Show row stripe.
                    cache: false,                       // Disable cache.
                    pagination: true,                   // Enable pagination.
                    sortable: true,                     // Enable sorting.
                    sortName: "ParseRowCounts",         // Default sort field.
                    sortOrder: "desc",                  // Default sort order.
                    sidePagination: "server",           // Server-side pagination.
                    pageNumber: 1,                      // Initial page number.
                    pageSize: 30,                       // Rows per page.
                    pageList: [30, 50, 100, 1000],      // Page size options.
                    search: true,                       // Enable table search.
                    strictSearch: false,                // Use fuzzy search.
                    showColumns: true,                  // Show column selector.
                    showRefresh: true,                  // Show refresh button.
                    showExport: true,                   // Show export button.
                    exportTypes: ['json', 'sql', 'csv', 'txt', 'xml', 'xlsx'],
                    exportOptions: {
                        ignoreColumn: [0],  // Ignore selected column indices.
                        fileName: 'slowquery_review_history'  // Export filename.
                    },
                    minimumCountColumns: 2,             // Minimum visible columns.
                    clickToSelect: true,                // Enable row selection.
                    uniqueId: "id",                     // Unique row identifier.
                    showToggle: true,                   // Show list/card toggle.
                    cardView: false,                    // Disable card view.
                    detailView: true,                   // Enable detail view.
                    queryParamsType: 'limit',
                    queryParams: function (params) {
                        var instance_name = $("#instance_name").val();
                        var db_name = $("#db_name").val();
                        var SQLId = sessionStorage.getItem('SQLId');
                        var StartTime = $('#reservation').data('daterangepicker').startDate.format('YYYY-MM-DD');
                        var EndTime = $("#reservation").data('daterangepicker').endDate.format('YYYY-MM-DD');
                        //console.info(params);
                        //console.info('params='+JSON.stringify(params));

                        return {
                            instance_name: instance_name,
                            db_name: db_name,
                            SQLId: SQLId,
                            StartTime: StartTime,
                            EndTime: EndTime,
                            limit: params.limit,
                            offset: params.offset,
                            search: params.search,
                            sortName: params.sort,
                            sortOrder: params.order
                        }
                    },
                    // Format detail view.
                    detailFormatter: function (index, row) {
                        var html = [];
                        $.each(row, function (key, value) {
                            if (key === 'SQLText') {
                                var sql = window.sqlFormatter.format(value);
                                // Replace line breaks.
                                sql = sql.replace(/\r\n/g, "<br>");
                                sql = sql.replace(/\n/g, "<br>");
                                // Replace spaces.
                                sql = sql.replace(/\s/g, "&nbsp;");
                                html.push('<span>' + sql + '</span>');
                            }
                        });
                        return html.join('');
                    },
                    columns: [{
                        title: '',
                        field: 'checkbox',
                        checkbox: true
                    }, {
                        title: 'Execution Start Time',
                        field: 'ExecutionStartTime',
                        sortable:true
                    }, {
                        title: 'Database Name',
                        field: 'DBName',
                        sortable:true
                    }, {
                        title: 'User Name',
                        field: 'HostAddress',
                        sortable:true
                    }, {
                        title: 'SQL Statement',
                        field: 'SQLText',
                        formatter: function (value, row, index) {
                            if (value.length > 100) {
                                var sql = value.substr(0, 100) + '...';
                                return sql;
                            } else {
                                return value
                            }
                        }
                    }, {
                        title: 'Full SQL Statement',
                        field: 'SQLText',
                        visible: false // Hidden by default.
                    }, {
                        title: 'Total Executions',
                        field: 'TotalExecutionCounts',
                        sortable:true
                    }, {
                        title: 'Execution Time (95%)',
                        field: 'QueryTimePct95',
                        sortable:true
                    }, {
                        title: 'Total Execution Time (s)',
                        field: 'QueryTimes',
                        sortable:true
                    }, {
                        title: 'Total Lock Time (s)',
                        field: 'LockTimes',
                        sortable:true
                    }, {
                        title: 'Total Parsed Rows',
                        field: 'ParseRowCounts',
                        sortable:true
                    }, {
                        title: 'Total Returned Rows',
                        field: 'ReturnRowCounts',
                        sortable:true
                    }],
                    singleSelect: true,
                    toolbar: "#sqladvisor-toolbar", // Custom toolbar selector.
                    locale: 'en-US',
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        // Pass search parameters to backend.
                        queryParams(e)
                    },onSort: function(sortName,order){
                        //console.info('onSort: name='+sortName+'; order='+order+';');
                    },
                    responseHandler: function (res) {
                        // Transform data before rendering table.
                        return res;
                    }
                });
            } else {
                alert("Please select an instance")
            }
        }
    </script>
{% endblock %}
