{% extends "base.html" %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Analysis Options
                </div>
                <div class="panel-body form-inline">
                    <div class="form-group">
                        <input id="sql-upload" name="sql-upload" accept=".sql,.xml" type="file" class="file-loading">
                    </div>
                    <div class="form-group">
                        <select id="instance_name" name="instance_name"
                                class="selectpicker show-tick form-control bs-select-hidden" data-live-search="true"
                                title="Please select instance:"
                                data-placeholder="Please select instance:" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="db_name" name="db_name" class="form-control selectpicker show-tick bs-select-hidden"
                                title="Please select database:"
                                data-live-search="true" data-placeholder="Please select database:" required>
                            <option value="all">All</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="btn-analyze" type="button" class="btn btn-warning" value="Start Analysis"
                               onclick="analyze()"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    SQL List
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="analyze-sql" data-toggle="table" class="table table-striped table-hover"
                               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Analysis report -->
    <div class="modal fade" id="reports">
        <div class="modal-dialog modal-lg">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title text-danger">Analysis Report</h4>
                </div>
                <div id="reports-body" class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    {% load static i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    <link href="{% static 'bootstrap-fileinput/css/fileinput.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-fileinput/js/fileinput.min.js' %}"></script>
    {% if LANGUAGE_CODE|slice:":2" == "zh" %}
    <script src="{% static 'bootstrap-fileinput/js/locales/zh.js' %}"></script>
    {% endif %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <script src="{% static 'dist/js/marked.min.js' %}"></script>
    <!-- Parse file -->
    <script>
        // Initialize upload control.
        $(function init_upload() {
            $("#sql-upload").fileinput({
                language: '{% if LANGUAGE_CODE|slice:":2" == "zh" %}zh{% else %}en{% endif %}',
                allowedFileExtensions: ['sql', 'xml'],// Accepted file suffixes.
                showCaption: true,// Show title.
                initialCaption: 'SQL/MyBatis3 Mapper XML file',
                captionClass: "",
                showUpload: false,     // Hide upload button.
                showPreview: false,    // Hide preview.
            }).on('fileloaded', function (event, data, previewId, index) {
                if (data.size <= 10240 * 512) {
                    loadsql();
                } else {
                    $('#sql-upload').fileinput('reset');
                    alert('File size exceeds 5MB, please select another file');
                }
            }).on('fileclear', function (event) {
                generate();
            });
        });


        // Read file and show it in input area.
        function loadsql() {
            $('#sql-upload').fileinput('disable');
            // Get file.
            var file = $("#sql-upload")[0].files[0];

            // Create file reader object.
            var reader = new FileReader();

            // Set event on successful file read.
            reader.onload = function (e) {
                var text = e.target.result;
                generate(text);
            };

            // Start reading file.
            reader.readAsText(file);
        }

        // Get parsed SQL list.
        function generate(text) {
            // Initialize table.
            $('#analyze-sql').bootstrapTable('destroy').bootstrapTable({
                escape: true,
                method: 'post',
                contentType: "application/x-www-form-urlencoded",
                url: "/sql_analyze/generate/",
                striped: true,                      // Show row stripe.
                cache: false,                       // Disable cache.
                pagination: true,                   // Enable pagination.
                sortable: false,                    // Disable sorting.
                sortOrder: "asc",                   // Sort order.
                sidePagination: "client",           // Client-side pagination.
                pageNumber: 1,                      // Initial page number.
                pageSize: 20,                       // Rows per page.
                pageList: [20, 30, 50, 100],        // Page size options.
                showExport: true,                   // Show export button.
                exportOptions: {},
                search: true,                       // Enable table search.
                strictSearch: false,                // Use fuzzy search.
                showColumns: true,                  // Show column selector.
                showRefresh: false,                 // Hide refresh button.
                minimumCountColumns: 2,             // Minimum visible columns.
                clickToSelect: false,               // Disable row selection.
                showToggle: true,                   // Show list/card toggle.
                cardView: false,                    // Disable card view.
                detailView: true,                   // Enable detail view.
                // Format detail row.
                detailFormatter: function (index, row) {
                    var html = [];
                    $.each(row, function (key, value) {
                        if (key === 'sql') {
                            var sql = window.sqlFormatter.format(value);
                            // Escape HTML tags.
                            sql = sql.replace(/&/g, "&amp;");
                            sql = sql.replace(/</g, "&lt;");
                            sql = sql.replace(/>/g, "&gt;");
                            sql = sql.replace(/"/g, "&quot;");
                            // Replace line breaks.
                            sql = sql.replace(/\r\n/g, "<br>");
                            sql = sql.replace(/\n/g, "<br>");
                            // Replace spaces.
                            sql = sql.replace(/\s/g, "&nbsp;");
                            html.push('<span>' + sql + '</span>');
                        }
                    });
                    return html.join('');
                },
                locale: 'en-US',                    // Localization.
                toolbar: "#toolbar",                // Custom toolbar selector.
                queryParamsType: 'limit',
                // Request parameters sent to backend.
                queryParams:
                    function (params) {
                        return {
                            text: text,
                            offset: params.offset,
                        }
                    },
                columns: [{
                    title: 'SQLID',
                    field: 'sql_id'
                }, {
                    title: 'SQL Content',
                    field: 'sql',
                    formatter: function (value, row, index) {
                        if (value.length > 100) {
                            var sql = value.substr(0, 100) + '...';
                            return sql;
                        } else {
                            return value
                        }
                    }
                }, {
                    title: 'Full SQL Content',
                    field: 'sql',
                    visible: false // Hidden by default.
                }],
                onLoadSuccess: function () {
                    $('#sql-upload').fileinput('enable');
                    sessionStorage.setItem('analyze_text', text);
                },
                onLoadError: onLoadErrorCallback,
                responseHandler: function (res) {
                    // Transform data before rendering table.
                    return res;
                }
            });

        }
    </script>
    <!-- Get database names -->
    <script>
        $("#instance_name").change(function () {
            // Request db_name via AJAX.
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name option:selected").text(),
                    resource_type: "database"
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#db_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option>" + result[i] + "</option>";
                            $("#db_name").append(name);
                        }
                        $('#db_name').selectpicker('render');
                        $('#db_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
    <!-- Execute analysis and get results -->
    <script>
        function analyze() {
            var analyze_text = sessionStorage.getItem('analyze_text');
            if (analyze_text !== "undefined") {
                $('#btn-analyze').addClass('disabled');
                $('#btn-analyze').prop('disabled', true);
                // Initialize table.
                $('#analyze-sql').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/sql_analyze/analyze/",
                    striped: true,                      // Show row stripe.
                    cache: false,                       // Disable cache.
                    pagination: true,                   // Enable pagination.
                    sortable: false,                    // Disable sorting.
                    sortOrder: "asc",                   // Sort order.
                    sidePagination: "client",           // Client-side pagination.
                    pageNumber: 1,                      // Initial page number.
                    pageSize: 20,                       // Rows per page.
                    pageList: [20, 30, 50, 100],        // Page size options.
                    showExport: true,                   // Show export button.
                    exportOptions: {},
                    search: true,                       // Enable table search.
                    strictSearch: false,                // Use fuzzy search.
                    showColumns: true,                  // Show column selector.
                    showRefresh: false,                 // Hide refresh button.
                    minimumCountColumns: 2,             // Minimum visible columns.
                    clickToSelect: false,               // Disable row selection.
                    uniqueId: "id",                     // Unique row identifier.
                    showToggle: true,                   // Show list/card toggle.
                    cardView: false,                    // Disable card view.
                    detailView: true,                   // Enable detail view.
                    // Format detail row.
                    detailFormatter: function (index, row) {
                        var html = [];
                        $.each(row, function (key, value) {
                            if (key === 'report') {
                                var report = value;
                                var rendererMD = new marked.Renderer();
                                marked.setOptions({
                                    renderer: rendererMD,
                                    gfm: true,
                                    tables: true,
                                    breaks: true,
                                    pedantic: false,
                                    sanitize: false,
                                    smartLists: false,
                                    smartypants: false
                                });
                                // Added code for customized table rendering.
                                rendererMD.table = function (header, body) {
                                    return '<div class="table-responsive"><table class="table table-condensed">' + header + body + '</table></div>'
                                };
                                html.push(marked(report))
                            }
                        });
                        return html.join('');
                    },
                    locale: 'en-US',                    // Localization.
                    toolbar: "#toolbar",                // Custom toolbar selector.
                    queryParamsType: 'limit',
                    // Request parameters sent to backend.
                    queryParams:
                        function (params) {
                            return {
                                text: sessionStorage.getItem('analyze_text'),
                                instance_name: $("#instance_name").val(),
                                db_name: $("#db_name").val(),
                                offset: params.offset,
                            }
                        },
                    columns: [{
                        title: 'SQLID',
                        field: 'sql_id'
                    }, {
                        title: 'SQL Content',
                        field: 'sql',
                        formatter: function (value, row, index) {
                            if (value.length > 100) {
                                var sql = value.substr(0, 100) + '...';
                                return sql;
                            } else {
                                return value
                            }
                        }
                    }, {
                        title: 'Full SQL Content',
                        field: 'sql',
                        visible: false // Hidden by default.
                    }, {
                        title: 'Analysis Report',
                        field: 'operation',
                        formatter: function (value, row, index) {
                            return "<button class=\"btn btn-info btn-xs\" report=\"" + row.report.replace(/\"<>\.*/gm,'<> is the standard SQL not-equal operator') + "\"\n" + "onclick=\"getReport(this)\" >View\n" + "</button>"
                        }
                    }],
                    onLoadSuccess: function () {
                        $('#btn-analyze').removeClass('disabled');
                        $('#btn-analyze').prop('disabled', false);
                    },
                    onLoadError: function (status, jqXHR) {
                        $('#btn-analyze').removeClass('disabled');
                        $('#btn-analyze').prop('disabled', false);
                        onLoadErrorCallback(status, jqXHR);
                    },
                    responseHandler: function (res) {
                        // Transform data before rendering table.
                        return res;
                    }
                });
                // Info prompt.
                if ($('#instance_name').val() && $('#db_name').val()) {
                    alert('SOAR analysis submitted. Please wait for the results!');
                } else {
                    alert('SOAR analysis submitted. Without selected instance/database, execution plans and index suggestions will not be generated. Please wait for results!');
                }
            } else {
                alert('Please parse an SQL/MyBatis3 Mapper XML file first');
            }

        }
    </script>
    <!-- View analysis report -->
    <script>
        function getReport(obj) {
            var report = $(obj).attr("report");
            var rendererMD = new marked.Renderer();
            marked.setOptions({
                renderer: rendererMD,
                gfm: true,
                tables: true,
                breaks: true,
                pedantic: false,
                sanitize: false,
                smartLists: false,
                smartypants: false
            });
            // Added code for customized table rendering.
            rendererMD.table = function (header, body) {
                return '<div class="table-responsive"><table class="table table-condensed">' + header + body + '</table></div>'
            };
            $("#reports-body").html(marked(report));
            $('#reports').modal('show');
        }
    </script>
    <script>
        $(document).ready(function () {
            // Get user instance list.
            $(function () {
                $.ajax({
                    type: "get",
                    url: "/group/user_all_instances/",
                    dataType: "json",
                    data: {
                        db_type: ['mysql']
                    },
                    complete: function () {
                    },
                    success: function (data) {
                        if (data.status === 0) {
                            let result = data['data'];
                            $("#instance_name").empty();
                            for (let i = 0; i < result.length; i++) {
                                let instance = "<option value=\"" + result[i]['instance_name'] + "\">" + result[i]['instance_name'] + "</option>";
                                $("#instance_name").append(instance);
                            }
                            $('#instance_name').selectpicker('render');
                            $('#instance_name').selectpicker('refresh');
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            });
            sessionStorage.setItem('analyze_text', '');
            generate();
        })
    </script>
{% endblock %}
