NGINX_PORT=9123

# https://django-environ.readthedocs.io/en/latest/quickstart.html#usage
# https://docs.djangoproject.com/zh-hans/4.1/ref/settings/
DEBUG=false
SECRET_KEY=local-dev-secret-key-change-me
FIELD_ENCRYPTION_KEYS=9R_Jxat_be2SV-UbCS0dAYQ0SGjZVf0JyN-VPkVNyi0=
DATABASE_URL=mysql://root:123456@mysql:3306/datamingle
CACHE_URL=redis://redis:6379/0?PASSWORD=123456
TASK_BACKEND=celery
CELERY_BROKER_URL=redis://:123456@redis:6379/1
CELERY_RESULT_BACKEND=redis://:123456@redis:6379/2
CELERY_TASK_DEFAULT_QUEUE=datamingle-default
CELERY_TASK_SOFT_TIME_LIMIT=60
CELERY_TASK_TIME_LIMIT=120

# https://docs.djangoproject.com/en/4.0/ref/settings/#csrf-trusted-origins
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:9123

CUSTOM_TITLE_SUFFIX=""

WORKOS_CLIENT_ID=client_xxxxxxxxxxxxxxxxxxxxxxxxxx
WORKOS_API_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WORKOS_ORGANIZATION_ID=org_xxxxxxxxxxxxxxxxxxxxxxxxxx
